{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": "off",
    "linebreak-style":"off",
    "import/extensions": [
      "error",
      "always",
      {
        "ignorePackages": true
      }
    ]
  }
}